.benefits {
  margin-bottom: 131px;
  .benefits__wrapper {
    max-width: 1262px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
    .benefits__title {
      width: 100%;
      font-weight: 500;
      font-size: 35px;
      line-height: 42px;
      padding: 93px 100px 100px 100px;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-100%);
      background-color: white;
    }
  }
}


.benefits__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px; //отступ
  padding: 0 100px;
}
.benefits_card {
  margin-bottom: 100px;
  grid-column: span 1;
  img { // benefits__card-icon
    padding-bottom: 37px;
    margin-bottom: 37px;
  }
 h3 { // benefits__crad-title
   font-weight: 500;
   font-size: 18px;
   line-height: 24px;
   margin-bottom: 26px;
 }
  .benefits_card-decription {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
  }
  .benefits__card-link {
    display: inline-block;
    padding-right: 59px;
    background: url("../img/arrow right blue.svg") no-repeat 90% center;
    background-size: 33px 8px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
    text-decoration: none;
    color: #006DFE;
    &:focus, &:hover {
      background: url("../img/arrow right blue.svg") no-repeat right center;
      transition: 0.2s all;
      color: #00459f;
    }
  }
}