.intro {
min-height: 100vh;
  background: url("../img/intro_bg.jpg") no-repeat center;
background-size: cover;
  padding-top: 263px;

  .intro__title {
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: white;
    max-width: 619px;
    margin-bottom: 22px;
  }
  .intro__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    max-width: 546px;
    margin-bottom: 59px;
  }
}

.search-form__field {
  background: transparent url("../img/Oval.svg") no-repeat left 3px;
  background-size: 20px;
  border: none;
  border-bottom: 2px solid  white;
  margin-right: 60px;
  width: 297px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white ;
  padding-bottom: 22px;
  padding-left: 43px;

}
.search-form__field::placeholder {
  color: white;
}
.search-form__submit {
  vertical-align: bottom;
  background: #1B7DFF;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  padding: 15px 39px;
  border: 0;
  border-radius: 2px;
  &:active, &:hover, &:focus { //working
    opacity: 0.80;
    background: #3791ff;
  }
}