
.places__caption {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}
.places {
  h2 {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding-bottom: 10px;
  }
.border__title {
  position: relative;

}
  .border__title::after {
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
  }

}
